/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

form * {
  margin: 0 auto;
}

button {

  margin: 10px auto;
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/